<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Covfefe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Covfefe.Properties.Settings>
            <setting name="DefaultSleepMode" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ShowBalloonTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowReminder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReminderTimeoutMinutes" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DoubleClickSleepMode" serializeAs="String">
                <value>StayAwake</value>
            </setting>
            <setting name="DoubleClickToggleEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Covfefe.Properties.Settings>
    </userSettings>
</configuration>
