<?xml version="1.0" encoding="UTF-8"?>

<?define Property_ProductVersion = "2.0.0.0" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
    Name="Covfefe" 
    Language="1033" 
    Version="$(var.Property_ProductVersion)" 
    Manufacturer="jsm" 
    UpgradeCode="0a24d660-a0cd-483f-9f71-6b33d7f0eed1"
  >
  
  <Package 
    InstallerVersion="500" 
    Compressed="yes" 
    Description="Covfefe! Sleep Preventer"
    InstallPrivileges="limited" 
  />
    
  <Media Id="1" Cabinet="Covfefe.cab" EmbedCab="yes"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="CovfefeSetup" Level="1">
      <ComponentRef Id="Covfefe.exe" />
    </Feature>
  
    <!-- This property defines the ALLUSERS property and sets it to blank, which indicates that this     -->
    <!-- product will be  installed per-user instead of per-machine.                                     -->
    <Property Id="ALLUSERS" Secure="yes"/>
    <UIRef Id="WixUI_Minimal"/>
  
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder" Name="AppData">
        <Directory Id="AppRootDirectory" Name="Covfefe">
        </Directory>
        <Directory Id="LocalAppDataFolder" Name="Local">
          <Directory Id="AppSettingsDirectory" Name="Covfefe"></Directory>
        </Directory>
      </Directory>
    </Directory>

      
    <DirectoryRef Id="AppRootDirectory">
      <Component Id="Covfefe.exe" Guid="1FC747AA-852D-41DE-B948-8A4F6D201D2C" DiskId="1">
        <CreateFolder/>
        <File Id="covfefe.exe" Source="..\Covfefe\bin\Release\Covfefe.exe" />
        <File Id="covfefe.exe.config" Source="..\Covfefe\bin\Release\Covfefe.exe.config" />
        <RemoveFolder Id="RemoveAppRootDirectory" On="uninstall"/>
        <RemoveFolder Id="AppSettingsDirectory" Directory="AppSettingsDirectory" On="uninstall"/>
        <RegistryKey Root="HKCU" Key="Software\jsm\Covfefe">
          <RegistryValue Name="Version" Value="[ProductVersion]" Type="string" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>
    <WixVariable Id="WixUILicenseRtf" Value="..\..\License.rtf" />
</Product>
</Wix>
